.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100vh;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
}

.error-message {
  color: #f44336;
  margin-bottom: 15px;
  text-align: center;
}
.register-prompt {
  margin-top: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.register-prompt button {
  width: 50%;
}
