<mat-card>
  <mat-card-header>
    <mat-card-title>Мои ссылки</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (isLoading) {
    <div class="loading-spinner">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    } @if (!isLoading && urls.length > 0) {
    <app-url-table
      [urls]="urls"
      (urlUpdated)="handleUrlUpdated($event)"
      (urlDeleted)="handleUrlDeleted($event)"
    ></app-url-table>
    } @if (!isLoading && urls.length === 0) {
    <div class="no-results">Нет созданных ссылок</div>
    }
  </mat-card-content>
</mat-card>
