<header>
  <mat-toolbar color="primary">
    <span>URL Shortener</span>

    <nav>
      <a mat-button routerLink="/" routerLinkActive="active" *ngIf="isLoggedIn">
        Сократить ссылку
      </a>
      <a
        mat-button
        routerLink="/my-urls"
        routerLinkActive="active"
        *ngIf="isLoggedIn"
      >
        Мои ссылки
      </a>
    </nav>

    <span class="spacer"></span>

    <button
      mat-icon-button
      (click)="logout()"
      *ngIf="isLoggedIn"
      matTooltip="Выйти"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>
